:root{
    --background-color: #022c22;
    --cell-hover-background: #34d399;
    --cell-background-color: #059669;
    --font-color: #ecfdf5;
    --font: 'Poppins', sans-serif;
}

body{
    background-color: var(--background-color);
    font-family: var(--font);
    color: var(--font-color);
}

/* Header */

header{
    display: flex;
    justify-content: center;
}

/* Main */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message{
    font-size: 50px;
    padding: 20px 0;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 454px;
    height: 454px;
  }

  .cell {
    border: 1px solid black;
    font-size: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cell-background-color);
  }

  .cell:hover {
    background-color: var(--cell-hover-background);
  }

  /* Footer */
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: #ddd;
    font-size: 20px;
  }

  .fa-github {
    color: #ddd;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  #logo{
    width: 30px;
    height:30px;
  }